@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root,
.light {
  --background: #ffffff;
  --foreground: #171717;


 --shadow-brand: -82px 54px 27px 0px rgba(0, 0, 0, 0.01),
    -52px 35px 25px 0px rgba(0, 0, 0, 0.04),
    -29px 19px 21px 0px rgba(0, 0, 0, 0.15),
    -13px 9px 16px 0px rgba(0, 0, 0, 0.25),
    -3px 2px 9px 0px rgba(0, 0, 0, 0.29);
}

.dark {
  --background: #171717;
  --foreground: #ffffff;

 --shadow-brand: -82px 54px 27px 0px rgba(255, 255, 255, 0.01),
    -52px 35px 25px 0px rgba(255, 255, 255, 0.04),
    -29px 19px 21px 0px rgba(255, 255, 255, 0.15),
    -13px 9px 16px 0px rgba(255, 255, 255, 0.25),
    -3px 2px 9px 0px rgba(255, 255, 255, 0.29);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-display: var(--font-manrope);
  --shadow-brand: var(--shadow-brand);
}

body {
  background: var(--background);
  color: var(--foreground);
}
